body {
  padding: 5px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.poseGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.poseGroup > textarea {
  font-size: x-small;
  flex: 1;
  padding: 20px;
}

#sizer {
  width: 25%;
  text-align: center;
  margin: auto;
}

/* #poseImage2 {
  transform: scaleX(-1);
} */

#controls {
  flex-direction: column;
  border-top: 1px solid black;
  padding: 10px;
}

#squeezer {
  width: 90%;
  margin: auto;
}

.chart {
  height: 500px;
  background-color: aliceblue;
  position: relative;
}

.grouping {
  width: 100%;
}

.grouping h2 {
  text-align: center;
}

.stepControls {
  display: flex;
  background-color: #e6e6e6;
  padding: 6px;
  align-items: center;
}

.stepControls button {
  padding: 10px;
}

.funland {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  width: 650px;
  justify-content: space-between;
  height: 36px;
  margin: 10px;
  border-radius: 5px;
}

.funland p {
  color: white;
  margin: auto 5px;
}

.creators {
  display: inline-flex;
  flex-direction: column;
  border: 1px dashed #333;
  border-radius: 5px;
  margin: 0 10px;
}

.creators p {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.creators button {
  padding: 0 10px;
  margin: 2px 5px;
}

.stepControls label {
  border-bottom: 1px solid rgb(179, 179, 179);
  margin: 0 5px 0 10px;
}

.stepControls select {
  height: 36px;
  font-size: medium;
  padding: 0 5px;
}

#runProcess {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0 10px;
  font-style: italic;
}

#loadPoses {
  margin: 0 0 0 10px;
}

.focal,
.align,
.rotate {
  padding: 10px;
}

.focal {
  background-color: #ff0000;
}

.align {
  background-color: #c50efd;
}

.rotate {
  background-color: #0ecdfd;
}

#poseImg {
  position: absolute;
  z-index: 2;
  width: 500px;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#poseText:hover {
  cursor: help;
}

#poseText:hover img {
  display: block;
}

.distancer {
  background-color: white;
  border-radius: 0 5px 5px 0;
  min-width: 265px;
}

.distancer p {
  color: black;
}

#distanceDisplay {
  text-align: right;
  font-size: 30px;
  margin-top: -15px;
  padding-left: 60px;
}
